@import '../styles/variables';
@import '../styles/fonts';

.product-list-container {
  position: relative;
  display: flex;
  align-items: center;
}

.product-list {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 20px;
  background-color: rgba(249, 249, 249, 0.9); /* Added transparency */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item {
  flex: 0 0 auto;
  width: 220px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  h2 {
    font-family: $font-family-tesco;
    font-size: $font-size-large;
    margin-bottom: 10px;
    color: #141414;
    font-weight: 500;
    height: 40px; /* Set a fixed height */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s; /* Add transition for smooth effect */
  }

/*  &:hover h2 {
    white-space: normal; !* Show full text on hover *!
    overflow: visible;
    height: auto; !* Adjust height to fit content *!
  }*/

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    border: 1px solid black;
  }

  .description {
    font-family: $font-family-tesco;
    font-size: 16px;
    line-height: 1.5;
    color: #141414;
    margin-bottom: 10px;
    height: 30px; /* Set a fixed height */
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    font-family: $font-family-tesco;
    font-size: 18px;
    font-weight: 500;
    color: #141414;
  }
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  color: #141414;
}
